a{
    text-decoration: none;
}
#logo img {
    max-width: 50; /* 최대 너비를 200px로 설정 */
    max-height: 10px; /* 최대 높이를 100px로 설정 */
}
#wrap {
    width: 100%; /* 전체 너비를 차지 */
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    text-align: center; /* 내부 텍스트를 수평으로 중앙 정렬 */
}
#menu_wrap li {
    display: inline-block;
    margin-right: 10px;
    padding: 10px 20px; /* 여백 추가 */
    background-color: white; /* 배경색 지정 */
    border-radius: 5px; /* 둥근 테두리 추가 */
    color: black;
    font-size: 1em;
}

#menu_wrap li:hover {
    background-color: rgb(174, 203, 255); /* 마우스를 올렸을 때 배경색 변경 */
}

#in_header {
    text-align: center; /* 로고와 메뉴를 수평으로 중앙 정렬 */
}

#menu_wrap {
    list-style: none;
    padding: 0;
}

#menu_wrap li {
    display: inline-block; /* 메뉴 항목을 가로로 정렬 */
    margin-right: 10px; /* 간격 조절 */
}

#section_1 {
    margin-top: 20px; /* 섹션과 헤더 사이 간격 조절 */
    color: blue;
    background-color: rgb(174, 203, 255);
    font-size: 1.5em;
}

#section_1 h2 {
    display: inline-block; /* 텍스트를 가로로 정렬하기 위해 인라인 블록 요소로 설정 */
}
.title_2 h1 {
    color: blue;
    margin-top: 80px; /* 위쪽 여백 추가 */
    font-size: 2em;

}
.title_3 h1 {
    color: blue;
    margin-top: 80px;
    font-size: 2em;

}
.title_4 h1 {
    color: blue;
    margin-top: 80px;
    font-size: 2em;

}
.title_5 h1 {
    color: blue;
    margin-top: 80px;
    font-size: 2em;

}
.title_6 h1 {
    color: blue;
    margin-top: 80px;
    font-size: 2em;

}
#table {
    border-collapse: collapse;
    width: 100%;
    width: 40%; 
    margin: 0 auto;
    border: 1px solid black 
}

th, td {
    border: 1px solid black;
    padding: 15px;
    text-align: center;
}

th {
    background-color: rgb(174, 203, 255);
    color: blue;
}

#in_footer{
    margin-top: 80px;
    font-size: x-small;
}
#shoTable{
    font-size: 1.1em;
    color: blue;
}

#table1 {
    border-collapse: collapse;
    width: 100%;
    width: 40%; 
    margin: 0 auto;
    border: 1px solid black;
    color: blue;
}