body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    background-color: white
}

.container {
    display: flex;
    width: 100%;
}

.sidebar {
    text-align: center;
    width: 200px;
    background-color: #333;
    color: white;
    padding-top: 50px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px 20px;
}

.sidebar ul li:hover {
    background-color: #575757;
}

.content {
    flex-grow: 1;
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px;
}

.member-form{
    border:  solid 1px #33333333;
    border-radius: 5px;
    padding: 2%;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 40%;
}

.form-group label {
    margin-bottom: 5px;
}

.form-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100px;
    padding: 10px;
    margin: 20px auto 0 auto;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
}

button:hover {
    background-color: #45a049;
}
